In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
import bayesgauss as bg

In [6]:
from sklearn.datasets import load_breast_cancer
#cancer = load_breast_cancer()
data = pd.read_csv(
    r'G:\Il mio Drive\1Master Data Analytics and data science\lezioni_MDA\data analysis\codice\dp-export-414127.csv'
)
print(data)

     mean radius  mean texture  mean smoothness  diagnosis
0          17.99         10.38          0.11840          0
1          20.57         17.77          0.08474          0
2          19.69         21.25          0.10960          0
3          11.42         20.38          0.14250          0
4          20.29         14.34          0.10030          0
..           ...           ...              ...        ...
564        21.56         22.39          0.11100          0
565        20.13         28.25          0.09780          0
566        16.60         28.08          0.08455          0
567        20.60         29.33          0.11780          0
568         7.76         24.54          0.05263          1

[569 rows x 4 columns]

In [9]:
df_train, df_test = train_test_split(data, test_size=0.2, random_state=41)
x_train=df_train.iloc[:,:]
y_train=df_train.iloc[:,:]
x_test=df_test.iloc[:,:]
y_test=df_test.iloc[:,:]

In [10]:
model = bg.BayesGaussian(df_train,x_train,y_train,x_test,y_test)
x_train_1, x_train_0 , y_train_1 ,y_train_0 =model.subset()

In [11]:
stdev_x_train_1=model.stdev(x_train_1)
stdev_x_train_0=model.stdev(x_train_0)
print(stdev_x_train_1)
print(stdev_x_train_0)

[1.8046161732332102, 4.094013057625239, 0.012734753840167121, 0.0]
[3.1052856784534333, 3.73173099579625, 0.012562839192754874, 0.0]

In [12]:
mean_x_train_1=model.mean(x_train_1)
mean_x_train_0=model.mean(x_train_0)
print(mean_x_train_1)
print(mean_x_train_0)

[12.15834275618375, 18.01590106007066, 0.09178809187279159, 1.0]
[17.245523255813957, 21.459767441860453, 0.10329069767441862, 0.0]

In [13]:
likelihood1=model.likelihood_list(x_train_1)
likelihood0=model.likelihood_list(x_train_0)   
print(likelihood1,likelihood0)

           0         0          0
0   0.149832  0.036292  21.046655
0   0.205413  0.069664  13.839561
0   0.211447  0.097367   4.080550
0   0.177977  0.095529  30.662027
0   0.197771  0.057515   2.229150
..       ...       ...        ...
0   0.174027  0.037399  27.381079
0   0.167917  0.031024  23.202294
0   0.157095  0.048225  29.288290
0   0.112204  0.097376   3.879840
0   0.206274  0.083380  31.141503

[282 rows x 3 columns]            0         0          0
0   0.100990  0.072655  31.738892
0   0.020309  0.035938  25.662133
0   0.108897  0.092872  28.430005
0   0.105813  0.102908  11.298675
0   0.052927  0.030637   0.465457
..       ...       ...        ...
0   0.078193  0.106896  17.507883
0   0.079923  0.096832  30.022318
0   0.115981  0.062618  27.651591
0   0.085669  0.101166  29.722032
0   0.071682  0.011565  16.299468

[171 rows x 3 columns]

In [14]:
model._calc_class_prior(test_value=1)

0.621978021978022

In [15]:
model._calc_class_prior(test_value=0)

0.378021978021978

In [16]:
model.bayes_classification()

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [9]:
std = model.stdev()
std

[3.428636650192551, 4.298580321073201, 0.01384336740226794]

In [10]:
model.summarize_dataset()

Mean of the training  x [14.081408791208798, 19.317758241758238, 0.09613632967032962]
Std of the training x [3.428636650192551, 4.298580321073201, 0.01384336740226794]
Len of the Training 455

(None, None, None)

In [11]:
model.calculate_probability(1,0,1)

0.24197072451914337

In [12]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [13]:
model._calc_class_prior()

0.621978021978022

In [14]:
model.calculate_probability(5, mean[0], std[0])

0.0034863819227411307

In [15]:
model.bayes()

0    28.661122
0     7.214509
0    33.963484
0     0.000046
0    32.711954
       ...
0    12.439283
0    28.542959
0    14.231654
0    22.518794
0    27.501941
Length: 114, dtype: float64

In [16]:
model.likelihood_list(columns=0)

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [17]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [19]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [36]:
likelihood=model.likelihood_computed.prod(axis=1)*100
likelihood

0    19.625735
0     4.512480
0    23.814539
0     0.000028
0    22.807824
       ...
0     7.948058
0    19.534623
0     9.160996
0    15.012289
0    18.736010
Length: 114, dtype: float64

In [23]:
model.class_priors*model.likelihood_computed.prod(axis=1)[0]*100

0    7.418959
0    1.705817
0    9.002419
0    0.000011
0    8.621859
       ...
0    3.004541
0    7.384517
0    3.463058
0    5.674975
0    7.082624
Length: 114, dtype: float64

In [37]:
1-model.likelihood_computed.prod(axis=1)

0    0.803743
0    0.954875
0    0.761855
0    1.000000
0    0.771922
       ...
0    0.920519
0    0.804654
0    0.908390
0    0.849877
0    0.812640
Length: 114, dtype: float64

In [18]:
model.bayes()

0    17.419481
0     4.384790
0    20.642117
0     0.000028
0    19.881470
       ...
0     7.560271
0    17.347664
0     8.649627
0    13.686334
0    16.714961
Length: 114, dtype: float64