In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
import bayesgauss as bg

In [2]:
from sklearn.datasets import load_breast_cancer
#cancer = load_breast_cancer()
data = pd.read_csv(
    r'G:\Il mio Drive\1Master Data Analytics and data science\lezioni_MDA\data analysis\codice\dp-export-414127.csv'
)
print(data)

     mean radius  mean texture  mean smoothness  diagnosis
0          17.99         10.38          0.11840          0
1          20.57         17.77          0.08474          0
2          19.69         21.25          0.10960          0
3          11.42         20.38          0.14250          0
4          20.29         14.34          0.10030          0
..           ...           ...              ...        ...
564        21.56         22.39          0.11100          0
565        20.13         28.25          0.09780          0
566        16.60         28.08          0.08455          0
567        20.60         29.33          0.11780          0
568         7.76         24.54          0.05263          1

[569 rows x 4 columns]

In [3]:
df_train, df_test = train_test_split(data, test_size=0.2, random_state=41)

In [4]:
x_train=df_train.iloc[:,:3]
y_train=df_train.iloc[:,3]
x_test=df_test.iloc[:,:3]
y_test=df_test.iloc[:,3]

In [5]:
model = bg.BayesGaussian(x_train,y_train,x_test,y_test)

In [6]:
y_train

475    1
298    1
220    1
549    1
567    0
      ..
469    1
407    1
243    1
321    0
80     1
Name: diagnosis, Length: 455, dtype: int64

In [7]:
model._calc_class_prior(test_value=1)

0.621978021978022

In [8]:
mean= model.mean()
mean

[14.081408791208798, 19.317758241758238, 0.09613632967032962]

In [9]:
std = model.stdev()
std

[3.428636650192551, 4.298580321073201, 0.01384336740226794]

In [10]:
model.summarize_dataset()

Mean of the training  x [14.081408791208798, 19.317758241758238, 0.09613632967032962]
Std of the training x [3.428636650192551, 4.298580321073201, 0.01384336740226794]
Len of the Training 455

(None, None, None)

In [11]:
model.calculate_probability(1,0,1)

0.24197072451914337

In [12]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [13]:
model._calc_class_prior()

0.621978021978022

In [14]:
model.calculate_probability(5, mean[0], std[0])

0.0034863819227411307

In [15]:
model.bayes()

0    28.661122
0     7.214509
0    33.963484
0     0.000046
0    32.711954
       ...
0    12.439283
0    28.542959
0    14.231654
0    22.518794
0    27.501941
Length: 114, dtype: float64

In [16]:
model.likelihood_list(columns=0)

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [17]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [19]:
model.likelihood_list()

           0         0          0
0   0.116135  0.071464  23.647140
0   0.078915  0.081437   7.021547
0   0.114751  0.092350  22.472433
0   0.043433  0.030131   0.000215
0   0.106903  0.083126  25.665710
..       ...       ...        ...
0   0.103613  0.080252   9.558588
0   0.106645  0.089558  20.453153
0   0.114822  0.059180  13.481647
0   0.114099  0.052640  24.994729
0   0.105718  0.090717  19.536271

[114 rows x 3 columns]

In [36]:
likelihood=model.likelihood_computed.prod(axis=1)*100
likelihood

0    19.625735
0     4.512480
0    23.814539
0     0.000028
0    22.807824
       ...
0     7.948058
0    19.534623
0     9.160996
0    15.012289
0    18.736010
Length: 114, dtype: float64

In [23]:
model.class_priors*model.likelihood_computed.prod(axis=1)[0]*100

0    7.418959
0    1.705817
0    9.002419
0    0.000011
0    8.621859
       ...
0    3.004541
0    7.384517
0    3.463058
0    5.674975
0    7.082624
Length: 114, dtype: float64

In [37]:
1-model.likelihood_computed.prod(axis=1)

0    0.803743
0    0.954875
0    0.761855
0    1.000000
0    0.771922
       ...
0    0.920519
0    0.804654
0    0.908390
0    0.849877
0    0.812640
Length: 114, dtype: float64

In [18]:
model.bayes()

0    17.419481
0     4.384790
0    20.642117
0     0.000028
0    19.881470
       ...
0     7.560271
0    17.347664
0     8.649627
0    13.686334
0    16.714961
Length: 114, dtype: float64